.mar-3{
    margin-top:  5px;
}

.oculto{
    display: none;
}
.panel-title{
    font-weight: bold;

}
.centro{
    margin: 0 auto;
    text-align: center;
}
.header_panel{
    background-color: #990000 ;
    color: white;
}
.pointer{
    cursor: pointer;
}
body{
    background-image: url(http://localhost/InscripcionEvento/imagenes/img_ins.png);
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-position-y: 100px;
}