
body{
      font-family: serif;
}.mar-3{
    margin-top:  5px;
}

.oculto{
    display: none;
}
.panel-title{
    font-weight: bold;

}
.centro{
    margin: 0 auto;
    text-align: center;
}
.header_panel{
    background-color: #990000 ;
    color: white;
}
.pointer{
    cursor: pointer;
}
body{
   
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-position-y: 560px;
    background-size: 8%;
}
.modal-header{
    background-color: #009933;
    
}
.modal-header h3,.modal-header button{
    color: white;
    font-weight: bold;
    font-size: 15px;
}.modal-backdrop.in{
    display: none;
}
.red{
    color: white;
    background-color: #009933;
}
.dinamica-col a{
    text-decoration: none;
    
}
thead{
    color: #666666;
text-align: center;
   font-weight: bold;
}
table thead{
    color: white;
    background-color: #3399ff;
  
}